<div class="page-flexbox-wrapper">

 <div class="slider">
    <ul class="slides">
      <li>
        <img src="assets/age_cover.jpg"> <!-- random image -->
        <div class="caption center-align">
          <h3>Welcome to Bucket List!</h3>
          <h5 class="light grey-text text-lighten-3">Where will we go next?</h5>
        </div>
      </li>
      <li>
        <img src="assets/liverpool.jpg"> <!-- random image -->
        <div class="caption left-align">
          <h3>Checkout</h3>
          <h5 class="light grey-text text-lighten-3">Liverpool Street Station, London, United Kingdom.</h5>
        </div>
      </li>
      <li>
        <img src="assets/venice.jpg"> <!-- random image -->
        <div class="caption right-align">
          <h3>Checkout</h3>
          <h5 class="light grey-text text-lighten-3">Venice, Italy.</h5>
        </div>
      </li>
      <li>
        <img src="assets/greece.jpg"> <!-- random image -->
        <div class="caption center-align">
          <h3>Checkout!</h3>
          <h5 class="light grey-text text-lighten-3">Santorni, Greece.</h5>
        </div>
      </li>
    </ul>
  </div>









        <footer class="page-footer">
        
          <div class="footer-copyright">
            <div class="container">
            © 2014 Copyright Text
            <a class="grey-text text-right" href="#!">More Links</a>
            </div>
          </div>
        </footer>

</div>


