

<h1> Profile </h1>

<ul>
	<li><%= @user.prof_image %>	</li>
	<li><%= @user.first_name %></li>
	<li><%= @user.last_name %></li>
	<li><%= @user.hometown %></li>
</ul>
<br />
	






  <!-- create_table "users", force: :cascade do |t|
    t.string "email"
    t.string "first_name"
    t.string "last_name"
    t.string "password_digest"
    t.string "prof_image"
    t.datetime "created_at", null: false
    t.datetime "updated_at", null: false
  end -->